*.versionsBackup
target/
**/.project
**/.access^
**/.*~
**/~*
.classpath
.settings/
**/bin/**
**/.springBeans
**/node/**
!**/typings/**/node/**
**/node_modules/**
.idea/
*.iml
*.swp
*.ipr
*.iws
.tmp
**/.vscode/
npm-debug.log
/target
*.war
wip.coffee
wip.sh
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
sh.exe.stackdump
**/addedEnvironmentVariables.sh
.editorconfig
Chart.lock
**/charts
.gitnexus/
.gradle/
.claude/
build/
.opencode/
gradle/
**/tls.crt
**/tls.key
telemetry.log
